<h3> Column Master </h3>
	
	<input type="button" value="Add" class="btn btn-primary" ng-click="open()"/>
	<input type="button" value="Delete" class="btn btn-default" ng-click="removeColumn()"/>
	
	<table class="table table-bordered">
    <thead>
      <tr>
		<th>No</th>
        <th>Fiels name</th>
        <th>Display Name</th>
        <th>Column Type</th>
		<th>Editable</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="col in dynamicColumns">
        <td><input type="checkbox" ng-click="adIndex(col)"/> {{$index}} </td>
		<td>{{col.field}}</td>
        <td>{{col.displayName}}</td>
        <td>{{col.columnType}}</td>
		<td>{{col.enableCellEdit ? 'Yes' : 'No'}}</td>
      </tr>

    </tbody>
  </table>

  
	<h3> Student Data Grid </h3>
	
    <div class="gridStyle" ng-grid="gridOptions"></div>   

    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
	