<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<br> <br>
		<br>
		<br>
		<div class="panel panel-default">
			<div class="panel-heading">Student Detail</div>
			<div class="panel-body">
				<div class="row">
					<label class="col-md-4">Name</label>
					<p class="col-md-6">
						<b>:</b>&nbsp;&nbsp;Babu
					</p>
				</div>
				<hr>
				<div class="row">
					<label class="col-md-4">Age</label>
					<p class="col-md-6">
						<b>:</b>&nbsp;&nbsp;21
					</p>
				</div>
				<hr>
				<div class="row">
					<label class="col-md-4">Place</label>
					<p class="col-md-6">
						<b>:</b>&nbsp;&nbsp;Namakkal
					</p>
				</div>
				<hr>
				<div class="row">
					<label class="col-md-4">PhoneNumber</label>
					<p class="col-md-6">
						<b>:</b>&nbsp;&nbsp;980765741
					</p>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12 pull-right">
						<a href="/#/" class="btn btn-default btn-sm">Student List</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>